<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Launches vs Sold trends (from 2015 - 2021)</h2>
    <div id='chart' class='chart'”></div>
    <button onclick="window.open('http://127.0.0.1:5000/returnjson')" class="accordion">Click me</button>
    <div class="panel">
    </div>
    
</body>
</html>